{% extends 'base.html' %}

{% block title %} | Contact Us {% endblock %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Contact Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Contact <span>Us</span></h1>
           <p>Have questions or need assistance? Contact us today—we’re here to help!</p>
        </div>
       <!--here-->
                <div class="col-lg-5">
                    <div class="contact-info-2">
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-phone"></i>
                            </div>
                            <div class="detail">
                                <h5>Phone:</h5>
                                <p><a href="#">9843987654</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-mail"></i>
                            </div>
                            <div class="detail">
                                <h5>Email:</h5>
                                <p><a href="#">carzone@gmail.com</a></p>
                            </div>
                        </div>

                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-fax"></i>
                            </div>
                            <div class="detail">
                                <h5>Fax:</h5>
                                <p><a href="#">4257363</a></p>
                            </div>
                        </div>
                        <div class="ci-box">
                            <div class="icon">
                                <i class="flaticon-pin"></i>
                            </div>
                            <div class="detail">
                                <h5>Location:</h5>
                                <p><a href="https://www.google.com/maps?q=Chagal">Chagal, Kathmandu</a></p>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->


{% endblock %}
